// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#letter {
  list-style: none;
  border: 1px solid gray;
  width:40px;
  font-size: 30px;
  text-align: center;
  background-color: #3497DC;
  color: white;
  display: inline-block;
  margin: 10px;
}

.list {
  margin: 0px;
  padding: 0px;
}

.box {
  padding: 15px 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 15px;
  padding: 50px;
}

.button {

}
